
/*Import Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #ffffff
}





/* Add a black background color to the top navigation */
nav {
    background-color: #717171;
    overflow: hidden;
    grid-area: nav;
  }
  
  /* Style the links inside the navigation bar */
  nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  
  /* Change the color of links on hover */
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  nav a.active {
    background-color: red;
    color: white;
  }

  /*permenant header and footer*/
  footer{
    grid-area: footer;
    border: 3px solid black;
  }

  header{
    grid-area: header;
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
  }









/*Home Page Container and Formatting*/
  home-container{
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-gap: 10px 10px;
      grid-template-areas: 
        "header   header   header"
        "nav      nav      nav" 
        "lbar     main     rbar"
        "lbar     main     rbar" 
        "lbox     main     rbox"
        "footer   footer   footer"

  }
  home-main{
    grid-area: main;
    border: 3px solid black;
  }

  home-lbar{
    grid-area: lbar;
    border: 3px solid black;
  }

  home-rbar{
    grid-area: rbar;
    border: 3px solid black;
  }
  home-lbox{
    grid-area: lbox;
    border: 3px solid black;
  }

  home-rbox{
    grid-area: rbox;
    border: 3px solid black;
  }
/* End of home page style sheet */










/*About Page Style Sheet*/
  about-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 5px 5px;
      grid-template-areas: 
        "header   header  header  header  header"
        "nav  nav nav nav nav"  
        "title  title title title title"
        "main main  main  main  main"
        "pic1 pic2  pic3  pic4  pic5"
        "script1  script2 script3 script4 script5"
        "footer footer  footer footer footer"
  }
about-title{
  grid-area: title;
  border: 3px solid black;
}
about-main{
  grid-area: main;
  border: 3px solid black;
}
pic1{
  grid-area: pic1;
  border: 3px solid black;
}
pic2{
  grid-area: pic2;
  border: 3px solid black;
}
pic3{
  grid-area: pic3;
  border: 3px solid black;
}
pic4{
  grid-area: pic4;
  border: 3px solid black;
}
pic5{
  grid-area: pic5;
  border: 3px solid black;
}
script1{
  grid-area: script1;
  border: 3px solid black;
}
script2{
  grid-area: script2;
  border: 3px solid black;
}
script3{
  grid-area: script3;
  border: 3px solid black;
}
script4{
  grid-area: script4;
  border: 3px solid black;
}
script5{
  grid-area: script5;
  border: 3px solid black;
}
/* End of About page style sheet */









 /* Start of Menu page style sheet*/ 
  menu-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5px 5px;
      grid-template-areas: 
      "header   header  header"
      "nav  nav nav"  
      "title title title"
      "stitle1  stitle2 stitle3"  
      "lbar mbar  rbar"
      "lbox mbox  rbox"
      "stitle4  stitle4 stitle4"
      "bbar bbar bbar"      
      "footer footer  footer"
  }
menu-title{
  grid-area: title;
  text-align: center;
  text-decoration: underline;
}
lbar-subtitle{
  grid-area: stitle1;
  text-align: center;
  border: 3px solid black;
}
mbar-subtitle{
  grid-area: stitle2;
  text-align: center;
  border: 3px solid black;
}
rbar-subtitle{
  grid-area: stitle3;
  text-align: center;
  border: 3px solid black;
}
bbar-subtitle{
  grid-area: stitle4;
  text-align: center;
  border: 3px solid black;
}
menu-lbar{
  grid-area: lbar;
  text-align: center;
  border: 3px solid black;
}
menu-mbar{
  grid-area: mbar;
  text-align: center;
  border: 3px solid black;
}
menu-rbar{
  grid-area: rbar;
  text-align: center;
  border: 3px solid black;
}
menu-lbox{
  grid-area: lbox;
  text-align: center;
  border: 3px solid black;
}
menu-mbox{
  grid-area: mbox;
  text-align: center;
  border: 3px solid black;
}
menu-rbox{
  grid-area: rbox;
  text-align: center;
  border: 3px solid black;
}

menu-bbar{
  grid-area: bbar;
  text-align: center;
  border: 3px solid black;
}




  contact-container{
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 5px 5px;
      grid-template-areas: 
      "header   header"
      "nav      nav"
      "title    title"
      "main     rbar"
      "footer   footer"          
  }
  contact-title{
    grid-area: title;
  }
  contact-main{
    grid-area: main;
    border: 3px solid black;
  }
  contact-rbar{
    grid-area: rbar;
    border: 3px solid black;
  }




  
  map-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 5px 5px;
      grid-template-areas: 
      "header"
      "nav"         
      "title"
      "main"
      "bbox"
      ""
  }









